<header id="header">
  <div class="container">
    <a class="logo" href="/"><h1>Docfy</h1></a>
    <div class="user-info">
      <p class="welcome">
        Bem vindo<br>
        <strong>{{ usuario }}</strong>
      </p>
      <a href="/signout" class="btn btn-danger">
        <img src="/img/signout.svg">
      </a>
    </div>
  </div>
</header>
