<header>
  <h2>{{project.title}}</h2>
  <div class="addon">
    <form action="/app/{{ id_usuario }}/projects/{{ project.id }}?_method=DELETE" method="post">
      <button type="submit" class="btn btn-danger">Excluir projeto</button>
    </form>
  </div>
</header>
